.progressBar {
    z-index: 10;
    position: relative;
    width: 100%;
    margin-right: 16px;
}

.backProgressBar,
.frontProgressBar {
    color: transparent;
    height: 8px;
    border-radius: 16px;
}

.backProgressBar {
    background-color: gray;

    position: static;
    width: 345px;
    z-index: 1;
}

.frontProgressBar {
    background-color: black;
    z-index: 2;
}