.music-controls {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 256px;
}

.music-controls button {
    margin: 0 0 0 8px;
    padding: 0;
    background: none;
    border: none;
}

#next-track {
    margin: 0 8px 0 8px;
}

#previous-track {
    margin: 0 8px 0 0;
}

.progressBar {
    position: relative;
}

.backProgressBar,
.frontProgressBar {
    color: transparent;
    height: 8px;
    border-radius: 16px;
}

.backProgressBar {
    background-color: gray;

    position: absolute;
    width: 100%;
    z-index: -1;
}

.frontProgressBar {
    background-color: black;
    transition: width linear;
}