.container {
  background-color: rgb(41, 44, 70);
  border-radius: 9px;

  max-height: 140px;
  width: 390px;
}

.genre {
  position: relative;
  top: 2px;
  background-color: rgb(14, 18, 59);
  border-radius: 14px;
  padding: 2px 8px;
  margin-right: 6px;
  font-size: xx-small;
}

/* Resource data, such as name and images */

.container>div {
  display: flex;
  align-items: center;
}

.resource-logo {
  margin: 16px;

  width: 22%;
  border-radius: 9px;
}

.spotify-logo {
  position: absolute;
  top: 16px;
  right: 16px;
}

.resource-card {
  position: relative;
  display: flex;
  line-height: 0.25;
  font-size: small;
}

.top-card {
  position: relative;
  top: -6px;
  align-items: flex-start;
}

.controls {
  margin: 0 0 0 auto;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.controles-musicales {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.link-to {
  color: white;
  text-decoration: none;
}

.link-to:hover {
  text-decoration: underline;
}

/* Resource track list */

.track-list {
  background-color: rgb(41, 44, 70);

  display: flex;
  flex-direction: column;

  overflow: scroll;
  max-height: 100%;
  border-radius: 0 0 9px 9px;

  overflow-x: hidden;
}

.track-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.track-container>p {
  font-size: small;

  text-align: center;
  width: 32px;
}

.track-time {
  margin-right: 12px;
}

.track-info {
  line-height: 0;
  width: 100%;
}

.track-info p:first-child {
  font-size: small;
}

.track-info p:last-child {
  font-size: xx-small;
}

.mute {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
}