.embedSpotify {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #2f2f2f;
  border-radius: 9px;
  flex-direction: column;
}

.embedSpotify iframe {
  border: 0;
  border-radius: 9px;
}

.input-spotify-link {
  color: #2f2f2f;
  background-color: #fafafa;
  padding: 10px;
  width: 400px;
  border: 0;
  border-radius: 9px;
  z-index: 2;
}
/* ----------------------- */
.main-container > div {
  display: flex;
}