:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  background-color: #242424;
  --embed-background: rgb(41, 44, 70);
  --input-background: rgb(41, 44, 70);
  --curtain-background: rgba(0, 0, 0, 0.7);
}

body {
  margin: 0;
  display: block;
  align-content: center;
  min-height: 100vh;
}